<% include head.ejs %>
<div class="warpper">

    <div class="page-toc">
        <%- toc_html %>
    </div>
    
    <div class="content markdown-body">
        <%- markdown_html %>
        <div class="copyright">Powered by <a href="https://github.com/jaywcjlove/idoc" target="_blank">idoc</a>. Dependence <a href="https://nodejs.org">Node.js</a> run.</div>
    </div>
    
</div>

<script>
    window.onload = function(){
        var linkArray = document.querySelectorAll(".page-toc a");
        var pathname = location.pathname;
        var origin = location.origin;
        linkArray.forEach(function(dom, k){
            var id = dom.href.replace(origin+pathname+"#", '');
            dom.removeAttribute("href")
            dom.setAttribute("data-to", id)
            var target = document.getElementById(id);
            dom.onclick = function(){
                document.body.scrollTop = target.offsetTop - 80;
            }
            
        })
    }
</script>

<% include footer.ejs %>